$def with (room)

<h1> $room.name </h1>


$if room.name == "Death":
    <h3>Your Score is $(room.score-1)</h3>
$else:
    <h3>Your score is $(room.score)</h3>


<pre>
$room.description
</pre>



$if room.name != "Death" and room.name != "The End" and room.name != "Laser Weapon Armory" and room.name !="Escape Pod":
    <pre>Your options are:</pre>
    <ul>
        $for i in room.paths.keys()
            $if i=="*":
                $continue
            $else:
                <li> $i</li>
    </ul>


$if room.name == "Death" or room.name == "The End":
    
    <p>
        <a href="/">Play Again?</a>
    </p>

$else:
    <p>
    <form action="/game" method="post">
        <input type="text" name="action"> <input type="SUBMIT">
    </form>
    </p>

$if room.name == "Laser Weapon Armory":
    <p>You have $(room.count) tries left</p>
    <p>(cheat) Random number is: $room.rand</p>

$if room.name == "Escape Pod":
    <p>(cheat) Correct pod is: $(room.rand) </p>
    
